# User env
.venv
.vscode

# Cache
__pycache__
.ipynb_checkpoints

# Notebooks
notebook/plots

# Data
data/SEAPODYM_data/run-test/data/po_freeglorys_0.25x30d_1998_2019
data/ikamoana_data/IkaSim_Example_025_30